.sign-in-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  backdrop-filter: blur(20px);
  border-radius: 0.5vw;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.background {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sign-in-form-content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
